#header 
	=link_to root_path, id: "logo" do
		= image_tag('logo.png', height: 'auto', width: '22')
		%h1 NOTEBOARD
		%p Free and minimal notebook application.
		%hr
	#login
		- if !user_signed_in?
			= link_to "Already awesome? Click here to log in.", new_user_session_path

	= link_to "CREATE ACCOUNT", new_user_registration_path, class: "button"

#usp
	.inner
		.block
			%p.question So what does it do?
			%p.answer With noteboard you can create a note and share it with all users of the noteboard app.
		.block
			%p.question So it’s like twitter?
			%p.answer At the moment it kind of looks like Twitter yes but that’s because it’s a WIP and not everything has been implemented yet!
		.block
			%p.question Do i have to pay some kind of fee or premium membership?
			%p.answer Nope, noteboard is forever free. I’ve also made it open source so check out my project on GitHub.

	= link_to "CREATE ACCOUNT", new_user_registration_path, class: "button"
